<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV</title>
</head>

<body>
    <h1>Assign-Inhouse File</h1>
    <p>
        {% for msg in messages %}
            <div>{{ msg }}</div>
        {% endfor %}
    </p>
    
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    
        <h2>file assign</h2>
        <i>--  (xlsx) ไฟล์ชื่ออะไรก็ได้ แต่ต้องมี feild contract_no  <br/>
          </i>
        <br></br>
        <input type="file" name="file_assign" multiple>
        <button type="submit" name="submit_section" value="assign">Upload assign file </button>


        <h2>portion</h2>
        <i>--  (xlsx): collector </i>
        <br></br>
        <input type="file" name="file_portion" multiple>
        <button type="submit" name="submit_section" value="portion">Upload  Portion</button>


        <h2>parameter</h2>
        <i>--  (csv) ชื่อ field parameter  ข้อมูล parameter ต้องเหมือน ใน ไฟล์ assign เช่น Status LM ,Overdue Months Division Code </i>
        <br></br>
        <input type="file" name="file_parameter" multiple>
        <button type="submit" name="submit_section" value="parameter">Upload  Parameter</button>
       
    </form>
    

    <p>
     {% if download_filename %}
        <a href="{{ url_for('download_file', folder=folder_name, filename=download_filename) }}">
            <button>Download</button>
        </a>
    {% endif %}
    </p>


</body>

</html> 

