<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV</title>
</head>

<body>
    <h1>SMS_CHECKER File</h1>
    <p>
        {% for msg in messages %}
            <div>{{ msg }}</div>
        {% endfor %}
    </p>
    
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    
        <h2>filecheck</h2>
        <i>--  (xlsx)ใช้ file sheetname ต้องชื่อ Data, ชื่อ column  (พิมเล็กพิมใหญ่มีผล) ต้องมี <br/>
            contract_no , <br/>
            mobile_no, <br/>
            4_digit (ไม่ต้องมีก็ได้), <br/>
            sms_type(ชื่อ sms_type ต้องตรงtypeใน databaseเป้ะๆ ดูได้ที่ Oracle) <br/>
            ,ar_today(ไม่ต้องมีก็ได้) <br/> </i>
        <br></br>
        <input type="file" name="file_assign_input" multiple>
        <button type="submit" name="submit_section" value="assign_input">Upload sms file </button>




        <h2>Acc</h2>
        <i>--  (csv)ใช้ ACC ล่าสุด original ไม่ต้องเปลี่ยนอะไรทั้งนั้น </i>
        <br></br>
        <input type="file" name="file_acc" multiple>
        <button type="submit" name="submit_section" value="acc">Upload  ACC</button>
       
    </form>
    




    
    <p>{{ message }}</p>

    <body class="container mt-4">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>contract_no</th>
                    <th>mobile_no</th>
                    <th>sms_type</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                <tr>
        
                    <td>{{ row.contract_no }}</td>
                    <td>{{ row.mobile_no }}</td>
                    <td>{{ row.sms_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>

    <p>
     {% if download_filename %}
        <a href="{{ url_for('download_file', folder=folder_name, filename=download_filename) }}">
            <button>Download</button>
        </a>
    {% endif %}
    </p>


</body>

</html> 

