<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>CSCORE</h2>
    <p>
        {% for msg in messages %}
            <div>{{ msg }}</div>
        {% endfor %}
    </p>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    
        <h3>ACC Current</h3>
        <input type="file" name="file_acc_current" multiple>
        <button type="submit" name="submit_section" value="acc_current">Upload acc_current</button>
        <br></br>
        <i>-- ประเภทไฟล์ : ใช้ ไฟล์ Acc original ล่าสุด จาก FileZilla เช่น Acc_20250401_0830 </br>
            -- สกุลไฟล์ : csv </br>
            -- จำนวนไฟล์ที่อัพโหลด : 1 ไฟล์ </br>
            -- ชื่อ sheet / จำนวนsheet / ชื่อไฟล์ : อะไรก็ได้ /1 sheet เท่านั้น/ อะไรก็ได้ </br>
            -- ชื่อ Column ที่ต้องมี : ใช้ original ไฟล์ ไม่ต้องทำอะไรทั้งนั้น</br>     
            -- ความจำเป็น : บังคับอัพโหลด
         </i>


        <h3> Acc History</h3>
        <input type="file" name="file_acc_history" multiple>
        <button type="submit" name="submit_section" value="acc_history">Upload  acc_history</button>
        <br></br>
        <i>-- ประเภทไฟล์ : ใช้ ไฟล์ Acc original 6 เดือนย้อนหลัง จาก FileZilla เช่น 
            <li> Acc_20250401_0830 </li>
            <li> Acc_20250301_0830 </li>
            <li> Acc_20250201_0830 </li>
            <li> Acc_20250101_0830 </li>
            <li> Acc_20241201_0830 </li>
            <li> Acc_20241101_0830 </li>
       
            -- สกุลไฟล์ : csv </br>
            -- จำนวนไฟล์ที่อัพโหลด : 6 ไฟล์</br>
            -- ชื่อ sheet / จำนวนsheet / ชื่อไฟล์ : อะไรก็ได้  /1 sheet เท่านั้น/ อะไรก็ได้ </br>
            -- ชื่อ Column ที่ต้องมี : ใช้ original ไฟล์ ไม่ต้องทำอะไรทั้งนั้น</br> 
            -- ความจำเป็น : บังคับอัพโหลด
         </i>



        <h3>TDR</h3>
        <input type="file" name="file_tdr" multiple>
        <button type="submit" name="submit_section" value="tdr">Upload  tdr</button>
        <br></br>
        <i>-- ประเภทไฟล์ : ใช้ ไฟล์ TDR  </br>
            -- สกุลไฟล์ : csv/xlsx </br>
            -- จำนวนไฟล์ที่อัพโหลด : กี่ไฟล์ก็ได้แต่ต้องมี pattern เดียวกัน</br>
            -- ชื่อ sheet / จำนวนsheet / ชื่อไฟล์ : อะไรก็ได้  / 1 sheet เท่านั้น/ อะไรก็ได้ </br>
            -- ชื่อ Column ที่ต้องมี : จะมี column อะไรก็ได้ แต่ต้องมี 
            <li> contract_no </li>
            <li> product </li>
            <li> project_code_name </li>
            -- ความจำเป็น : บังคับอัพโหลด
         </i>

         <h3>Digit2 Infomation</h3>
         <input type="file" name="file_digit2" multiple>
         <button type="submit" name="submit_section" value="digit2">Upload  digit2</button>
         <br></br>
         <i>-- ประเภทไฟล์ : ดึงข้อมูลจาก Oracle โดย รัน Script  SELECT * FROM SUPAT."cscore_digit2" และ  export เป็น CSV ออกมาจาก Oracle  </br>
             -- สกุลไฟล์ : csv </br>
             -- จำนวนไฟล์ที่อัพโหลด : 1 ไฟล์ </br>
             -- ชื่อ sheet / จำนวนsheet / ชื่อไฟล์ : อะไรก็ได้  / 1 sheet เท่านั้น/ อะไรก็ได้ </br>
             -- ชื่อ Column ที่ต้องมี : ใช้ Original ไฟล์ จาก Oracle ไม่ต้องเปลี่ยนอะไรทั้งนั้น </br>
             -- ความจำเป็น : บังคับอัพโหลด
          </i>

        <h3>Assign</h3>
        <input type="file" name="file_assign" multiple>
        <button type="submit" name="submit_section" value="assign">Upload assign</button>
        <br></br>
        <i>-- ประเภทไฟล์ : ใช้ไฟล์ Assign ที่ต้องการให้ stamp cscore เฉพาะกลุ่ม ไม่จำเป็นต้องอัพโหลดก็ได้ จะได้เป็น Zip ไฟล์ </br>
            -- สกุลไฟล์ : xlsx </br>
            -- จำนวนไฟล์ที่อัพโหลด :  1 ไฟล์ </br>
            -- ชื่อ sheet / จำนวนsheet / ชื่อไฟล์ : อะไรก็ได้  / 1 sheet เท่านั้น / อะไรก็ได้ </br>
            -- ชื่อ Column ที่ต้องมี : จะมี column อะไรก็ได้ แต่ต้องมี 
            <li> contract_no </li>
            -- ความจำเป็น : ไม่บังคับ
         </i>
    
       
    </form>
    

    <h2>----------------------------------------------------------</h2>
    <p>
        {% if folder_name %}
        <a href="{{ url_for('process_and_download_file_cscore', folder_name=folder_name, outputpath=outputpath) }}">
            <button>Download All Files</button>
        </a>
        {% endif %}
    </p>
</body>
</html>
