<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Collection Process</h1>

 <button onclick="window.location.href='cscore'">C Score</button>
 <button onclick="window.location.href='overdue-stamp'">Overdue_days(morning) Stamp</button>
 <button onclick="window.location.href='assign-inhouse'">Assign  Collector</button>
 <button onclick="window.location.href='assign-oa'">Assign  OA</button>
 <button onclick="window.location.href='sms-checker'">SMS Checker</button>
 <button onclick="window.location.href='costivr'">Cost IVR</button>

</body>

</html> 

