<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV</title>
</head>

<body>
    <h1>Upload a SMS_CHECKER File</h1>

    
    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>
    <p>{{ message }}</p>

    <body class="container mt-4">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>customer_no</th>
                    <th>contract_no</th>
                    <th>customer_name</th>
                    <th>mobile_no</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                <tr>
                    <td>{{ row.customer_no }}</td>
                    <td>{{ row.contract_no }}</td>
                    <td>{{ row.Age }}</td>
                    <td>{{ row.City }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>

    <p>
     {% if download_filename %}
        <a href="{{ url_for('download_file', folder=folder_name, filename=download_filename) }}">
            <button>Download</button>
        </a>
    {% endif %}
    </p>


</body>

</html> 

