<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV</title>
</head>

<body>
    <h1>Overdue_days(morning) Stamp </h1>


    <p>
        {% for msg in messages %}
            <div>{{ msg }}</div>
        {% endfor %}
    </p>
    
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    
        <h2>Acc History</h2>
        <input type="file" name="file_ar" multiple>
        <button type="submit" name="submit_section" value="ar">Upload acc  </button>
        <br></br>
        <i> -- ประเภทไฟล์ : ใช้ ไฟล์ Acc original ย้อนหลังทั้งเดือน จาก FileZilla เช่น 
            <li> Acc_20250403_0830 </li>
            <li> Acc_20250404_0830 </li>
            <li> Acc_20250405_0830 </li>  
            -- สกุลไฟล์ : csv </br>
            -- จำนวนไฟล์ที่อัพโหลด : กี่ไฟล์ก็ได้ที่ต้องการเอามา check </br>
            -- ชื่อ sheet / จำนวนsheet / ชื่อไฟล์ : อะไรก็ได้  / 1 sheet เท่านั้น/ อะไรก็ได้ </br>
            -- ชื่อ Column ที่ต้องมี :  ใช้ original ไฟล์ ไม่ต้องทำอะไรทั้งนั้น</br> 
            -- ความจำเป็น : บังคับอัพโหลด
         </i>

        <h2>Account </h2>
        <input type="file" name="file_loan_target" multiple>
        <button type="submit" name="submit_section" value="loan_target">Upload  loan</button>
        <br></br>
         <i> -- ประเภทไฟล์ : ไฟล์ทีมี Account ที่ต้องการ check </br>
            -- สกุลไฟล์ : xlsx </br>
            -- จำนวนไฟล์ที่อัพโหลด : 1 ไฟล์ </br>
            -- ชื่อ sheet / จำนวนsheet / ชื่อไฟล์ : อะไรก็ได้  / 1 sheet เท่านั้น/ อะไรก็ได้ </br>
            -- ชื่อ Column ที่ต้องมี : จะมี column อะไรก็ได้ แต่ต้องมี 
            <li> contract_no </li>
            -- ความจำเป็น : บังคับอัพโหลด
         </i>



        <h2>Start Overdue_days(morning)</h2>
        <input type="file" name="file_startdue" multiple>
        <button type="submit" name="submit_section" value="startdue">Upload  startdue</button>
        <br></br>
        <i> -- ประเภทไฟล์ : ไฟล์ที่ต้องการใช้เป็น Overdue_days(morning) ตั้งต้น </br>
           -- สกุลไฟล์ : xlsx </br>
           -- จำนวนไฟล์ที่อัพโหลด : 1 ไฟล์ </br>
           -- ชื่อ sheet / จำนวนsheet / ชื่อไฟล์ : อะไรก็ได้  / 1 sheet เท่านั้น/ อะไรก็ได้ </br>
           -- ชื่อ Column ที่ต้องมี : จะมี column อะไรก็ได้ แต่ต้องมี 
           <li> contract_no </li>
           <li> overdue_days(morning) </li>
           -- ความจำเป็น : บังคับอัพโหลด
        </i>



       
    </form>
    <br></br>
    <p>
     {% if download_filename %}
        <a href="{{ url_for('download_file', folder=folder_name, filename=download_filename) }}">
            <button>Download</button>
        </a>
    {% endif %}
    </p>


</body>

</html> 

